{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Stories{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('news.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for story in stories %}
    <article class="story">
      <header>
        <div>
          <h1>{{ story['title'] }}</h1>
        </div>
      </header>
	  <em>facts</em>
      <p class="facts">{{ story['facts'] }}</p>
	  <em>analysis</em>
      <p class="analysis">{{ story['analysis'] }}</p>
	  <h6><div class="about">{{ story['news_date'] }}</div></h6>
        {% if g.user['id'] == story['author_id'] %}
		<h6><a class="action" href="{{ url_for('news.update', id=story['id']) }}">Edit</a></h6>
        {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
